{% extends "base.html" %}

{% block title %}Eventos{% endblock %}

{% block content %}
<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>
            {% if show_past %}
                Eventos pasados
            {% else %}
                Eventos
            {% endif %}
        </h1>
        <div class="d-flex gap-2">
            <a href="?show_past={% if show_past %}false{% else %}true{% endif %}" class="btn btn-primary">
                {% if show_past %}
                    <i class="bi bi-clock"></i> Ver eventos actuales
                {% else %}
                    <i class="bi bi-clock-history"></i> Ver eventos pasados
                {% endif %}
            </a>
            {% if user_is_organizer %}
                <a href="{% url 'event_form' %}" class="btn btn-primary">
                    <i class="bi bi-plus-circle me-2" aria-hidden="true"></i>
                    Crear Evento
                </a>
                <a href="{% url 'admin_comments'%}" class="btn btn-primary">
                    Comentarios
                </a>
            {% endif %}
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Título</th>
                <th>Descripción</th>
                <th>Fecha</th>
                <th>Estado</th>
                <th>Categoría</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for event in events%}
                <tr>
                    <td>{{ event.title }}</td>
                    <td>{{ event.description }}</td>
                    <td>{{ event.scheduled_at|date:"d b Y, H:i" }}</td>
                    <td>{{event.state}}</td>
                    <td>{{ event.category.name }}</td>
                    <td>
                        <div class="hstack gap-1">
                            <a href="{% url 'event_detail' event.id %}"
                               class="btn btn-sm btn-outline-primary"
                               aria-label="Ver detalle"
                               title="Ver detalle">
                                <i class="bi bi-eye" aria-hidden="true"></i>
                            </a>
                            {% if user_is_organizer %}
                                <a href="{% url 'event_edit' event.id %}"
                                    class="btn btn-sm btn-outline-secondary"
                                    aria-label="Editar" 
                                    title="Editar">
                                    <i class="bi bi-pencil" aria-hidden="true"></i>
                                </a>
                                <form action="{% url 'event_delete' event.id %}" method="POST">
                                    {% csrf_token %}
                                    <button class="btn btn-sm btn-outline-danger"
                                        title="Eliminar"
                                        type="submit"
                                        aria-label="Eliminar"
                                        titile="Eliminar"
                                        name="Eliminar">
                                        <i class="bi bi-trash" aria-hidden="true"></i>
                                    </button>
                                </form>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5" class="text-center">
                        {% if show_past %}
                            No hay eventos pasados
                        {% else %}
                            No hay eventos disponibles
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
