{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="mb-4">
                {% if event.id %}
                    Editar evento
                {% else %}
                    Crear evento
                {% endif %}
            </h1>
            
            <div class="card">
                <div class="card-body">
                    {% if event.id %}
                        <form action="{% url 'event_edit' event.id %}" method="POST">
                        {% else %}
                        <form action="{% url 'event_form' %}" method="POST">
                    {% endif %}
                        {% csrf_token %}
                        <div class="vstack gap-3">
                            <div>
                                <label for="title" class="form-label">Título del Evento</label>
                                <input class="form-control"
                                    id="title"
                                    required=""
                                    type="text"
                                    value="{{ event.title }}"
                                    name="title" />
                            </div>
                            <div>
                                <label for="description" class="form-label">Descripción</label>
                                <textarea
                                    class="form-control"
                                    id="description"
                                    name="description"
                                    rows="4"
                                    required="">{{ event.description }}</textarea>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="date" class="form-label">Fecha</label>
                                    <input
                                        class="form-control"
                                        id="date"
                                        required=""
                                        type="date"
                                        value="{{ event.scheduled_at|date:'Y-m-d'}}"
                                        name="date" />
                                </div>
                                <div class="col-md-6">
                                    <label for="time" class="form-label">Hora</label>
                                    <input
                                        class="form-control"
                                        id="time"
                                        required=""
                                        type="time"
                                        value="{{ event.scheduled_at|date:'g:i'}}"
                                        name="time" />
                                </div>
                                {% if event.id %}
                                <div class="mt-3">
                                    <label for="state" class="form-label">Estado</label>
                                    <select class="form-select" name="state" id="state">
                                        <option value="ACTIVO">Activo</option>
                                        <option value="CANCELADO">Cancelado</option>
                                        <option value="REPROGRAMADO">Reprogramado</option>
                                        <option value="AGOTADO">Agotado</option>
                                        <option value="FINALIZADO">Finalizado</option>
                                    </select>
                                </div>
                                {% endif %}
                            </div>
                            <div>
                                <div class="form-group">
                                    <label for="category" class="form-label">Categoría</label>
                                    <select 
                                        class="form-control" 
                                        id="category"
                                        required=""
                                        name="category"
                                    >
                                        <option 
                                            disabled 
                                            {% if not category.id %}
                                                selected 
                                            {% endif %}
                                            value
                                        >Seleccione una categoría</option>

                                        {% for category in categories %}
                                            <option
                                                {% if category.id and event.category.id == category.id %}
                                                    selected
                                                {% endif %}
                                                value="{{ category.id }}"
                                            >
                                                {{ category.name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div>
                                <div class="form-group">
                                    <label for="venue" class="form-label">Lugar</label>
                                    <select
                                        class="form-control"
                                        id="venue"
                                        required=""
                                        name="venue"
                                    >
                                        <option 
                                            disabled
                                            {% if not event.venue %}
                                                selected 
                                            {% endif %}
                                            value
                                        >Seleccione un lugar</option>

                                        {% for venue in venues %}
                                            <option
                                                {% if venue.id and event.venue.id == venue.id %}
                                                    selected
                                                {% endif %}
                                                value="{{ venue.id }}"
                                            >
                                                {{ venue.name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div>
                                <button type="submit" name="Crear Evento" class="btn btn-primary">
                                    {% if event.id %} Actualizar Evento {% else %} Crear Evento {% endif %}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
