{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="d-flex justify-content-between align-items-center">
            <h1>{{ event.title }}</h1>
            <div>
            {% if user_is_organizer %}
                <a
                    href="{% url 'event_edit' event.id %}"
                    class="btn btn-outline-primary me-2"
                >
                    <i class="bi bi-pencil me-1"></i>Editar
                </a>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Detalles del Evento</h5>
                <p class="card-text">{{ event.description }}</p>
                <div class="mt-4">
                    <div class="d-flex align-items-center mb-3">
                        <div class="bg-light rounded-circle p-2 me-3">
                            <i class="bi bi-calendar-event text-primary"></i>
                        </div>
                        <div>
                            <h6 class="mb-0">Fecha y Hora</h6>
                            <p class="mb-0">{{ event.scheduled_at|date:"l, j \\d\\e F \\d\\e Y, H:i" }}</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-3">
                        <div class="bg-light rounded-circle p-2 me-3">
                            <i class="bi bi-person text-primary"></i>
                        </div>
                        <div>
                            <h6 class="mb-0">Organizador</h6>
                            <p class="mb-0">{{ event.organizer }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <h style="font-weight: bold">Comentarios ({{comments.length}})</h>
            {% if comment %}
                {% for comment in comments %}
                    <div class="comment">
                        <h>{{comment.user.username}}</h>
                        <p>{{comment.created_at}}</p>
                        <h>{{comment.title}}</h>
                        <P>{{comment.text}}</p>
                    </div>
                    <hr>
                {% endfor %}
            {% else %}
                    <h>No hay comentarios</h>
                    <hr>
            {% endif %}
            <h>Título del comentario *</h>
            <textarea placeholder="Escribe un título para tu comentario..." maxlength="50" rows="1"></textarea>
            <h>Contenido del comentario *</h>
            <textarea placeholder="Escribe tu comentario aquí..." maxlemgth="300" rows="5"></textarea>
            <button style="height: 10%; width: 12%; background-color: blue; color: white">Publicar comentario</button>
        </div>
    </div>
</div>
{% endblock %}