{% extends "base.html" %}

{% block title %}Tickets{% endblock %}

{% block content %}

<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Tickets</h1>
        <a href="{% url 'ticket_form' %}" class="btn btn-primary" >Crear Ticket</a>    
    </div>
    {% if tickets %}
        <table class="table">
            <thead>
                <tr>
                    <th>Fecha de compra</th>
                    <th>Tipo de ticket</th>
                    <th>Evento</th>
                    <th>Cantidad</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
            {% for ticket in tickets %}
                <td>{{ ticket.buy_date|date:"d b Y, H:i" }}</td>
                <td>{{ ticket.type_ticket }}</td>
                <td>{{ ticket.event.title }}</td>
                <td>{{ ticket.quantity }}</td>
                <td>
                    <form action="{% url 'ticket_delete' ticket.id %}" method="POST" class="d-inline-block">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </form>
                        <a href="{% url 'ticket_detail' ticket.id %}"><button type="submit" class="btn btn-primary">Ver</button></a>
                        <a href="{% url 'ticket_edit' ticket.id %}"><button type="submit" class="btn btn-warning">Modificar</button></a>
            {% endfor %}
        </tbody>
            {% endif %}
    {% if not tickets %}
        <h2>No hay tickets existentes</h2>
    {% endif %}
</div>
{% endblock %}